@font-face {
  font-family: "Hacker";
  src: url("../assets/fonts/hacker.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Hacker", sans-serif;
  background-color: rgb(0, 0, 0);
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.next-button {
  text-align: center;
}

.next-btn {
  background: black;
  color: white;

  font-family: "Hacker", sans-serif;
  font-size: clamp(1.5rem, 1.5vw, 1rem);

  border: 2px rgb(255, 255, 255) solid;
  border-radius: 10px;
  padding: 0.5rem 1rem;

  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.next-btn:hover {
  cursor: pointer;
  color: rgb(138, 138, 138);
  border: 2px rgb(138, 138, 138) solid;
}

.title-el {
  font-size: clamp(2.5rem, 1.5vw, 1rem);
  margin-top: 1rem;
  color: rgb(255, 234, 0);
  text-align: center;
}

p {
  color: white;
}
