@font-face {
  font-family: "Hacker";
  src: url("../assets/fonts/hacker.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Hacker", sans-serif;
  background-color: rgb(0, 0, 0);
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.title-el {
  color: white;
}

.btn-container {
  text-align: center;
}

.start-btn {
  background: black;
  color: white;

  font-family: "Hacker", sans-serif;
  font-size: clamp(0.9rem, 1.5vw, 1rem);

  border: 2px rgb(255, 255, 255) solid;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

.start-btn:hover {
    cursor: pointer;
    color: rgb(9, 189, 249);
    border: 2px rgb(34, 187, 238) solid;
}
