@font-face {
  font-family: "Hacker";
  src: url("../assets/fonts/hacker.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Hacker", sans-serif;
  background: url(../assets/images/tapes-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease;
}

.fade-out {
  opacity: 0;
}

.spear-png {
  display: grid;
  width: min(65vw, 300px);
  max-width: 300px;
  height: auto;
  opacity: 0.5;
  justify-content: center;
  align-items: center;
}

.vhs-btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 6rem;
  column-gap: 35rem;
  /* margin-bottom: 300px; */
  margin-top: 70px;
}

.skin-img {
  display: grid;
  width: min(65vw, 350px);
  max-width: 350px;
  height: auto;
  margin: 0 auto;
  transition: transform 0.5s ease-out;
}

.skin-btn {
  border: none;
  outline: none;
  background: none;
  padding: 0;
}

.skin-img:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-out;
}

.mouth-img {
  display: grid;
  width: min(65vw, 350px);
  max-width: 350px;
  height: auto;
  margin: 0 auto;
  transition: transform 0.5s ease-out;
}

.mouth-btn {
  border: none;
  outline: none;
  background: none;
  padding: 0;
}

.mouth-img:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-out;
}

.eyes-img {
  display: grid;
  width: min(65vw, 350px);
  max-width: 350px;
  height: auto;
  margin: 0 auto;
  transition: transform 0.5s ease-out;
}

.eyes-btn {
  border: none;
  outline: none;
  background: none;
  padding: 0;
}

.eyes-img:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-out;
}

.speech-img {
  display: grid;
  width: min(65vw, 350px);
  max-width: 350px;
  height: auto;
  margin: 0 auto;
  transition: transform 0.5s ease-out;
}

.speech-btn {
  border: none;
  outline: none;
  background: none;
  padding: 0;
}

.speech-img:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-out;
}

.video-container {
  grid-column: 1;
  display: flex;
  justify-content: center;
}
