@font-face {
  font-family: "Hacker";
  src: url("../assets/fonts/hacker.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Hacker", sans-serif;
  background-color: rgb(0, 0, 0);
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.vhs-btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 90px;
  margin-top: -150px;
}


.skin-img {
  display: grid;
  width: min(65vw, 250px);
  max-width: 250px;
  height: auto;
  margin: 0 auto;
  transition: transform 0.5s ease-out;
}

.skin-btn {
  border: none;
  outline: none;
  background: none;
  padding: 0;
}

.skin-img:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-out;
}

.mouth-img {
  display: grid;
  width: min(65vw, 250px);
  max-width: 250px;
  height: auto;
  margin: 0 auto;
  transition: transform 0.5s ease-out;
}

.mouth-btn {
  border: none;
  outline: none;
  background: none;
  padding: 0;
}

.mouth-img:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-out;
}


.eyes-img {
  display: grid;
  width: min(65vw, 250px);
  max-width: 250px;
  height: auto;
  margin: 0 auto;
  transition: transform 0.5s ease-out;
}

.eyes-btn {
  border: none;
  outline: none;
  background: none;
  padding: 0;
}

.eyes-img:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-out;
}


.speech-img {
  display: grid;
  width: min(65vw, 250px);
  max-width: 250px;
  height: auto;
  margin: 0 auto;
  transition: transform 0.5s ease-out;
}

.speech-btn {
  border: none;
  outline: none;
  background: none;
  padding: 0;
}

.speech-img:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-out;
}

